.mid-3{
	width: 75vw;
	margin-inline: auto;
	margin-block: 6rem;
}

.mid-3 h1{
	font-size: 2.5rem;
}

.mid-3-cards{
	display: flex;
	gap: 25px;
}

.mid-3-card{
	border: 0.5px solid #333;
	border-radius: 10px;
	padding: 10px;
}

.mid-3-card p{
	font-size: 14px;
	font-weight: 200;
	line-height: 156%;
	padding-inline: 2px;
}

.mid-3-card h2{
	font-size: 1.6rem;
	font-weight: 400;
}

.mid-3-card-btn{
	border: 0.5px solid #333;
	background-color: transparent;
	padding: 10px;
	color: #61BAFF;
	border-radius: 10px;
	font-size: small;
}

.mid-4-heading{
	margin-inline: auto;
	width: 74vw;
	font-size: 2.5rem;
}

.midPara-ul{
	 list-style: none;
	 display: flex;
	 flex-direction: column;
	 gap: 20px;
}

.midPara-article h1{
	font-size: 5rem;
	margin: 0;
}

.midPara-article p{
	width: 70%;
	line-height: 120%;
}

.midPara-ul li{
	 display: flex;
	 gap: 20px;
	 align-items: center;
	 font-size: 1.8rem;
	 font-weight: 500;
}

.div-box{
	width: 56px;
    height: 4px;
    margin-right: 40px;
    background-color: #61baff;
}

.mid-5{
	width: 75vw;
	margin: 6rem auto;
	display: flex;
	justify-content: space-between;
}

.mid-5-link{
	display:  flex;
	gap: 50px;
}

.mid-5-link a{
	color: white;
}

.mid-5-link a:hover{
	text-decoration: none;
}

.midPara-ul-lists{
	list-style: none;
	display: flex;
	gap: 100px;
	flex-direction: column;
}

.midPara-ul-lists li img{
	width: 80%;
}

.midPara-lists-li{
position: relative;
}

.midPara-ul-div{
	position: absolute;
	top: 0;
	opacity: 0;
	padding: 10px;
	width: 81%;
	height: 100%;
	background-color: rgb(0, 0, 0);	
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: start;
	transition: all 0.2s ease-in;
}

.midPara-ul-div ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.midPara-ul-div:hover{
	opacity: 1;
}

footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

footer a{
	text-decoration: none;
	color: white;
}

.endBtn{
	width: 75vw;
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	margin: 6rem auto;
}

.endBtn button{
	border: 1px solid white;
	border-radius: 10px;
	background-color: black;
	color: white;
	width: 30%;
	padding: 5rem 3rem;
	transition: background-color,color,  0.5s ease-in-out 0.1s;
	font-size: 1.5rem;
}

.endBtn button:hover{
	background-color: #333;
	border-color: #61BAFF;
	cursor: pointer;
}